<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h2>Product Listings</h2>
    <table>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Desc.</th>
        <th>Product Image</th>
      </tr>
      <tr>
        <td>1001</td>
        <td>asdasd</td>
        <td>asdasd</td>
        <td>asdasd</td>
        <td></td>
      </tr>
    </table>
    <button onclick="window.location='/new-product'">Add new Product</button>
  </body>
</html>
